* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI';
    text-decoration: none;
    user-select: none;
    color: white;
}

body {
    color: white;
    background-color: black;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
}

.menu ul li {
    font-weight: 600;
    margin: 15px;
    padding: 15px;


}

.header {
    padding: 15px;
    background-color: #680055;
}

.menu {
    display: gray;
}

.logo-card img {
    background-color: white;
    margin: 0px;
    margin-top: -20px;
    margin-bottom: -50px;
    padding: 10px;
    height: 45px;
    box-shadow: 0px 0px 20px gray;
}

.menu ul li {
    display: inline;
    transition: background-color .5s;
}

.menu ul li:hover {
    background-color: rebeccapurple;
}

.image-box img {
    height: 300px;
    margin: 20px;
}

.image-box {
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text-description {
    margin-top: 10px;
    margin-left: auto;
    width: 60vw;
    margin-right: auto;
}

.text-description h3 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 25px;
}

.text-description p {
    text-align: justify;
    font-size: 28px;
}

.text-description * {
    color: #1e1d1e;
}

.image-box2 img {
    height: 200px;
    margin: 40px;
}

.image-box2 {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text-description h4 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 35px;
}
.text-description p1 {
    text-align: justify;
    font-size: 25px;
}

.text-description * {
    color: #1e1d1e;
}
